<div class="modal" style="margin-top: 10%" id="deleteModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-dark text-white">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalLable">Excluir</h1>
        </div>
        <div class="modal-body">
          <p id="modalTitle"></p>

          <div style="float: right">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>

            <button id="confirmDeleteBtn" type="button" class="btn btn-danger" onclick="">Confirmar</button>
          </div>
        </div>
      </div>
    </div>
</div>