    <%- include('./header.ejs') -%>
    <body class="bg-dark">
        <form method="POST" class="form-group text-white container p-3 rounded" style="width: 400px;">
                <h2 class="text-center" style="font-family: Berlin Sans FB; margin-bottom: 30px">Login</h2>

                <div class="mb-3">
                    <label class="form-label">Endereço email</label>
                    <input type="email" name="email" class="w-100 text-white" required>
                </div>
                
                <div>
                    <label class="form-label">Senha</label>
                    <input type="text" name="password" class="w-100 text-white" 
                    style="margin-bottom: 40px" required>
                </div>
                
                <div class="float-right text-center mb-4">
                    <input type="submit" class="form-control border-0 text-white float-right btn mx-2 bg-primary" style="width: 45%;" value="Entrar">
                    <a href="/register" class="form-control btn float-right border-0 text-white" style="width: 45%; background: rgb(255, 115, 0)">Cadastrar-se</a>
                </div>
                
                <div class="text-center h5">
                    <a href="#">Esqueci minha senha</a>
                </div>
        </form>
    </body>
</html>