a {
    color: white;
    text-decoration: none;
}

form {
    margin-top: 5%;
    background: linear-gradient(black, #4b0679 85%, #10d885);
}

input {
    background: transparent; 
    box-sizing: border-box; 
    border: none;
    border-bottom: 2px solid rgb(28, 243, 243); 
    outline: none
}