.title {
    font-family: Berlin Sans FB; 
    margin-bottom: 20px
}

#registerForm {
    margin-top: 3%; 
    width: 400px;
}

#image {
    width: 130px;
    height: 130px;
}

#fileInput {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 130px;
    height: 130px;
    transform: translateX(-100%);
}